.button {
    margin-left: 30px;
    text-transform: uppercase;
 }

 .search-field {
    margin-top: 15px;
    margin-left: 20em;
    margin-right: 20pt;
    margin-bottom: 15px;
}

.index {
    margin-top: 30px;
    margin-left: 1em;
    margin-right: 14pt;
    margin-bottom: 15px;
    padding: 10px 50px;
    text-transform: uppercase;
    text-align: center;
}

.sidebar {
    top: 0;
    left: 15px;
    right: -80px;
    bottom: 20px;
    z-index: 9;
    color: #666;
}

.carous {
    margin-top: -650px;
}

.sign-up {
    margin-top: 30px;
    margin-left: 1em;
    margin-right: 14pt;
    margin-bottom: 15px;
    padding: 10px 50px;
    text-align: left;
}

.register-form {
    margin-top: 25px;
}

.trending {
    margin-top: 30px;
    margin-left: 1em;
    margin-right: 14pt;
    margin-bottom: 15px;
    padding: 10px 50px;
    text-align: left;
}

.news{
    margin-top: 25px;
}
